.cabecalho {
    display: flex;
    align-items: center;
    

}

.titulo {
    color: #22b14c;
    font-size: 30px;
    margin-left: 4%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
    
    


.logo {
    padding-left: 10px;
    
}

.atualização {
    color: aliceblue;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.corpo {
    background-color: #262626;
    background-image: linear-gradient(to bottom, #262626 70% , rgba(34,177,76,0.9) );
}

.retangulo-grafico {
    width: 900px;
    height: 600px;
    margin-top: 10%;
    margin-left: 10%;
    background-color: white;
    border-radius: 10px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
}

.linha{
     border-bottom: 2px solid #22b14c;
      
}

.moldura {
    background-color:  #c0abab;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}



    
